<div class="nav ui menu">
    <a class="item" href="/#/dashboard"><img src="/images/logo.png" height="25"/></a>
    <a class="item" href="/#/applications">Applications</a>
    <a class="item" href="/#/hosts">Hosts</a>
    <div class="right menu" id="rightMenu">
       <a class="item" href="http://containership.io/docs">Docs</a>
       <a class="item" href="https://github.com/growbrosops/containership/issues">Support</a>
    </div>
</div>
