<!DOCTYPE html>
<html lang="en">
    <head>
        {{> scripts}}
        <title>Navigator</title>
        {{> style}}
    </head>
    <body>
        <div class = "ui grid page">
            <div class = "one column row">
                {{> header}}
            </div>
            <div class = "one column row">
                <div id = "main" class = "sixteen wide column">
                </div>
            </div>
        </div>
    </body>

</html>
